@import url('https://fonts.googleapis.com/css?family=Antonio');
@import url('https://fonts.googleapis.com/css?family=Spartan');

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 1.75em;
}

h1, h2{
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.75em;
}